# local user files
access.log
error.log
.idea

client/build
client/node_modules
client/vendor
public/build
public/phpmyadmin
public/importData
public/img/branches
*.log
#vagrant
.vagrant

# Laravel
/bootstrap/compiled.php
.env.*.php
.env.php